<div class=" top-bar">    
    <div class=" top-bar-title">admin area</div>
    <div class=" top-bar-left">
        <ul class=" menu">
            <li class=" admin-menu"><a href="#">one</a></li>
            <li class=" admin-menu"><a href="#">two</a></li>
        </ul>
    </div>
    
    <div *ngIf="theUser" class=" top-bar-right">
        <ul class=" menu">
            <li class=" admin-menu"><a (click)="logout()">logout</a></li>
            <li class=" admin-menu"><a>{{theUser}} logged in user</a></li>
        </ul>
    </div>
</div>
